extends base

block content
    .container.center
        form.freq-form(action="")
            h1.freq-h1
                | Enter Your N Value
            input#n.term(type='text' name='n' placeholder='Enter Your N' required='')
            button#n-submit.btn(type='submit')
                | Search