extends base

block content
    .home-container
        h1.home-header Load My Engine
        a.btn(href='/service/hugo') Construct Hugo Inverted Indicies
        a.btn(href='/service/shakespeare') Construct Shakespeare Inverted Indicies
        a.btn(href='/service/tolstoy') Construct Tolstoy Inverted Indicies