extends base

block content
    .term-container
        form.term-form(action="")
            h1.term-h1
                | Enter Your Search Term
            input#term.term(type='text' name='term' placeholder='Enter Your Search Here' required='')
            button#term-submit.btn(type='submit')
                | Search
    
    